/* here you can put your own css to customize and override the theme */

/***
Rounded Portlets
***/
/*
.portlet {
	border-radius: 4px !important;
}

.portlet .portlet-title {
	border-radius: 4px 4px 0px 0px !important;
}

.portlet .portlet-body,
.portlet .portlet-body .form-actions  {
	border-radius: 0px 0px 4px 4px !important;
}
*/
.subtitulo{background-color:#DCDCDC;padding:2px;}
.clear{clear: both}
.fl-left{float: left!important;}
/*fixar footer em todas as telas*/
.fixeb{position: fixed; bottom: 0!important;left:0!important;width:100%!important;color:#fff;z-index: 9999}

/* text area de observações da tela de contas a pagar*/
.obsctpg{width: 100%!important;}

/*text area de descrição da tela de cadastro de ncm*/
.ncmtxa{width:100%!important;height: 50px!important;}

/*modal*/

.center {
    margin-top:50px;
}

.modal-header {
    padding-bottom: 5px;
}

.modal-footer {
    padding: 0;
}

.modal-footer .btn-group button {
    height:40px;
    border-top-left-radius : 0;
    border-top-right-radius : 0;
    border: none;
    border-right: 1px solid #ddd;
}

.modal-footer .btn-group:last-child > button {
    border-right: 0;
}